/* coment out for version 1 and 2 */

body {
  font-family: Arial;
}

#favourite-dogs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}


.favourite-dog-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid DarkSlateGrey;
  border-radius: 5%;
  background: lightCoral;
}
